@font-face {
    font-family: Metropolis-light;
    src: url(../assets/fonts/Metropolis-Light.otf);
}

@font-face {
    font-family: metropolis-black;
    src: url(../assets/fonts/Metropolis-Black.otf);
}

@font-face {
    font-family: metropolis-bold;
    src: url(../assets/fonts/Metropolis-Bold.otf);
}

@font-face {
    font-family: metropolis-exLight;
    src: url(../assets/fonts/Metropolis-ExtraLight.otf);
}

@font-face {
    font-family: metropolis-med;
    src: url(../assets/fonts/Metropolis-Medium.otf);
}

@font-face {
    font-family: nunito-Regular;
    src: url(../assets/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: nunito-black;
    src: url(../assets/fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: nunito-bold;
    src: url(../assets/fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: nunito-light;
    src: url(../assets/fonts/Nunito-Light.ttf);
}

@font-face {
    font-family: nunito-semiBold;
    src: url(../assets/fonts/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: nunito-extraBold;
    src: url(../assets/fonts/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: Raleway-Light;
    src: url(../assets/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-med;
    src: url(../assets/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(../assets/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-exBold;
    src: url(../assets/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Raleway-regular;
    src: url(../assets/fonts/Raleway-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900');