@import 'variables';

html {
    body {
        background: $bodyColor;
        font-family: $rr;

        .container {

            @media screen and (min-width:1400px) {
                max-width: 1640px !important;
            }

            @media screen and (max-width:991px) {
                max-width: 95% !important;

            }

        }

        header {
            min-height: 809px;
            position: relative;

            .navbar {
                transition: 0.3s ease-in-out;
                padding-top: 20px;
                background: transparent;
                min-height: 115px;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;

                @media screen and (max-width:991px) {
                    min-height: auto !important;
                }

                .navbar-brand {
                    position: relative;

                    img {
                        width: 150px;
                        top: 0;
                        left: 0;
                    }


                }

                .logo-white {
                    display: block;
                }

                .logo-color {
                    display: none;
                }

                ul {
                    margin-right: 80px;

                    @media screen and (max-width:991px) {
                        margin-top: 30px;
                    }

                    li {
                        margin: 0 20px;

                        a {
                            color: white !important;
                            font-family: $rm;

                            &:hover {
                                color: $grayP !important;
                            }
                        }

                        @media screen and (max-width:991px) {
                            margin-top: 15px;
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 3px;
                            background: white;
                            transition: width .3s;
                            margin-top: 20px;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .new-nav {
                position: fixed !important;
                top: 0;
                padding-top: 20px;
                background-color: $white !important;
                transition: 0.3s ease-in-out;
                -webkit-box-shadow: 3px 13px 18px 0px rgba(0, 0, 0, 0.22);
                -moz-box-shadow: 3px 13px 18px 0px rgba(0, 0, 0, 0.22);
                box-shadow: 3px 13px 18px 0px rgba(0, 0, 0, 0.22);


                ul {
                    li {
                        a {
                            color: black !important;

                            &:hover {
                                color: $bluenav !important;
                            }
                        }

                        &::after {
                            background: $borderGreen;
                        }
                    }

                }

                .logo-white {
                    display: none;
                }

                .logo-color {
                    opacity: 1 !important;
                    display: block;
                }
            }

            .cabecera-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }

            .jumbotron {
                background: transparent;
                position: absolute;
                bottom: 110px;
                color: $white;

                h1 {
                    color: $white;
                    font-family: $mbold;
                    max-width: 763px;
                    font-size: 76px;
                    margin-bottom: 60px;

                    @media screen and (max-width:480px) {
                        font-size: 45px;
                        margin-bottom: 120px;
                    }
                }

                a {
                    text-transform: uppercase;
                    font-family: $nunitoregular;
                    color: $white !important;

                    img {
                        margin-right: 20px !important;
                    }
                }
            }

            .banner-header {
                position: absolute;
                background-color: $white;
                bottom: 0;
                height: 157px;
                min-width: 1465px;
                border-top-right-radius: 120px;
                display: flex;
                flex-flow: row;
                align-content: center;
                align-items: center;
                webkit-box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                -moz-box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                padding-right: 55px;

                .items {
                    max-width: 992px;

                    .col-sm-2 {
                        padding: 0 !important;
                    }


                    h5 {
                        font-family: $nunitosemiBold;
                        font-size: 16px;
                    }

                    p {
                        font-size: 13px;
                        color: $grayP;
                    }
                }
            }
        }

        .content {


            .top-content-location {
                display: flex;
                flex-flow: column;
                flex-direction: column;
                margin-top: 86px;
                max-width: 844px;

                .title {
                    display: flex;
                    flex-flow: row;
                    align-items: center;

                    h3 {
                        font-size: 30px;
                        font-family: $mbold;
                    }

                    img {
                        margin-right: 20px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }

                .resume {
                    margin-top: 30px;
                }
            }

            .maps-location {
                min-height: 562px;
                margin-top: 70px;
                width: 100%;

                .row {
                    margin: 0;

                    .maps {
                        @media screen and (max-width:991px) {
                            order: 2;
                        }
                    }
                }

                ul {
                    margin-top: 75px;

                    @media screen and (max-width:991px) {
                        padding-left: 0;
                        width: 100%;
                        @include FlexRow;
                        justify-content: space-between;
                        display: none;
                    }

                    li {
                        margin-bottom: 50px;
                        list-style-type: none;


                        @media screen and (max-width:991px) {
                            display: inline-block;
                        }


                        .location {
                            display: flex;
                            flex-flow: row;


                            div {
                                text-decoration: none;
                                cursor: pointer;

                                .info {
                                    transition: 0.5s all ease-in-out;


                                    h3 {
                                        color: $bordeColor;
                                        font-size: 25px;
                                        font-family: $nunitoregular;

                                        @media screen and (max-width:991px) {
                                            font-size: 20px;
                                        }

                                        img {
                                            opacity: 0;
                                            transition: 0s;
                                            position: absolute;
                                            width: 20px;

                                            @media screen and (max-width:991px) {
                                                transform: rotate(-90deg);
                                            }
                                        }


                                    }

                                    p {
                                        font-size: 20px;
                                        color: $grayP;
                                        margin-top: -5px;
                                    }

                                    &:hover {
                                        h3 {
                                            color: $bluenav !important;
                                        }
                                    }
                                }


                            }


                            img {
                                height: 100%;
                                margin-right: 20px;
                            }
                        }


                        .active-indicator {
                            font-family: $nunitosemiBold !important;
                            color: $bluenav !important;

                            img {
                                opacity: 1 !important;
                                transition: 0.5s all ease-in-out;
                                position: relative !important;
                            }
                        }

                        .divider {
                            background: $bordeColor;
                            height: 1px;
                            width: 200px !important;
                            margin-left: 20px;

                            @media screen and (max-width:1025px) {
                                width: 100px;
                            }
                        }
                    }
                }
            }

        }

        .docs-info {
            margin-top: 160px;

            h2 {
                margin-bottom: 0px;
                font-family: $rb;
                text-align: center;
            }

            .sub-title {
                margin: 0 auto;
                margin-top: 20px;
                max-width: 800px;
            }

            .content {
                max-width: 398px !important;
                margin-top: 90px;

                .top {
                    height: 403px;
                    border-radius: 30px;



                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                p {
                    font-family: $rm;
                    font-size: 27px;
                    margin-top: 30px;
                    height: 90px;

                    @media screen and (min-width:1400px) {
                        margin-top: 90px;
                    }
                }

                .btn {
                    width: 100%;
                    min-height: 75px;
                    margin-top: 50px;
                    font-size: 18px;
                    font-family: $rb;
                    background: $bluenav;
                    border-radius: 35px;
                    text-transform: uppercase;

                    @media screen and (min-width:1400px) {
                        margin-top: 20px;
                    }
                }

            }


        }

        .opinions {
            min-height: 370px;
            background-image: url(../assets/img/banner-form.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-flow: column;
            flex-direction: row;
            align-items: center;
            padding-bottom: 30px;
            margin-top: 155px;

            @media screen and (max-width:991px) {
                .container {
                    max-width: 90% !important;
                }
            }

            h1 {
                color: white;
                margin-top: 60px;

                @media screen and (max-width:991px) {
                    font-size: 30px;
                }
            }

            textarea {
                border-radius: 20px;
                min-height: 176px !important;
            }

            .btn {
                margin-top: 30px;
                width: 250px;
                height: 58px;
                border-radius: 30px;
                background: $bluenav;
                font-size: 18px;
                border: none;
                text-transform: uppercase;
            }
        }

        footer {
            padding: 18px;
            min-height: 417px;
            padding-bottom: 0;
            background: $white;
            padding-top: 60px;

            @media screen and (min-width:1200px) {
                padding: 68px;
            }

            @media screen and (max-width:991px) {
                @include flexColum;
                padding: 30px;

                .container {
                    max-width: 100% !important;
                }
            }

            .container {
                @media screen and (max-width: 1200px) and (min-width: 991px) {
                    max-width: 100% !important;
                }
            }

            .father-content-footer {
                @include FlexRow;
                justify-content: space-between;
                flex-wrap: nowrap;

                @media screen and (max-width:991px) {
                    @include flexColum;
                    margin-top: 30px;
                }

                .item-logo {
                    @include flexColum;
                    margin-right: 30px;

                    @media screen and (max-width:991px) {
                        align-self: center;
                        margin-bottom: 60px;

                        .content {
                            max-width: 500px !important;

                            img {
                                display: block;
                                margin: 0 auto;
                            }

                            p {
                                text-align: cente r;
                            }
                        }
                    }

                    .content {
                        max-width: 300px;

                        p {
                            font-family: $rl;
                            color: $grayP;
                            font-size: 12px;
                        }
                    }
                }

                .links {
                    @include flexColum;
                    flex-wrap: nowrap;

                    @media screen and (max-width:991px) {
                        width: 100% !important;
                    }

                    @media screen and (min-width:1600px) {
                        min-width: 1100px;
                    }

                    .title {


                        h4 {
                            margin-bottom: 30px;
                            color: black;
                            font-size: 20px;
                            font-family: $nunitobold;
                            border-bottom: solid 1px $graylighter;
                            padding-bottom: 10px;

                            @media screen and (max-width:991px) {
                                text-align: center;
                            }

                        }
                    }

                    .direct-links {
                        display: flex;
                        flex-flow: row;
                        flex-direction: row;
                        justify-content: space-between;

                        @media screen and (max-width:768px) {
                            @include flexColum;
                        }

                        .item-link {
                            max-width: 290px;
                            margin-right: 20px;

                            @media screen and (max-width:768px) {
                                max-width: 100%;
                                text-align: center;
                            }

                            &:last-child {
                                margin-right: 0;
                            }

                            ul {
                                padding-left: 0;

                                li {
                                    font-family: $rm;
                                    list-style-type: none;
                                    margin-bottom: 20px;

                                    a {
                                        color: $graymed;
                                        text-transform: capitalize !important;
                                        text-decoration: none;
                                        font-size: 15px;

                                        &:hover {
                                            color: $bluenav;
                                            transition: 0.2s;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }

            .copy {
                margin-top: 80px;
                border-top: solid 1px $graylighter;
                padding: 15px;

                h4 {
                    font-size: 14px;
                    color: $graymed;
                    font-family: $rl
                }
            }
        }

        .tabs {
            width: 100%;
            position: relative;


            ul {

                justify-content: space-between;
                max-width: 1100px;
                margin: 0 auto;
                padding: 30px 30px 0px 30px;
                margin-top: -50px;
                background: white;
                position: relative;
                -webkit-box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);
                -moz-box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);
                box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);

                @media screen and (max-width:991px) {
                    justify-content: space-around;
                }

                @media screen and (max-width:768px) {
                    padding-left: 13px;
                    padding-right: 13px;
                }

                li {
                    display: flex;
                    flex-flow: row;
                    align-items: flex-start;
                    max-width: 300px;
                    font-size: 16px;

                    @media screen and (max-width:636px) {
                        flex-flow: column;
                        text-align: center;
                        align-items: center;

                        img {
                            margin-bottom: 30px;
                        }
                    }

                    @media screen and (max-width:850px) {
                        max-width: 250px;
                    }

                    @media screen and (max-width:768px) {
                        max-width: 200px;
                        // margin-right: 10px;
                    }

                    .father {
                        display: flex;
                        flex-flow: row;
                        align-items: flex-start;


                    }

                    a {
                        color: black;
                        margin-left: 15px;
                        padding-bottom: 30px;
                        width: 100%;

                        @media screen and (max-width:636px) {
                            margin-left: 0;


                        }

                        @media screen and (max-width:768px) {
                            padding: 0;
                            height: 100px;
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 3px;
                            background: $borderGreen;
                            transition: width .3s;
                            margin-top: 20px;
                        }
                    }

                    .mini-for-tab {
                        @media screen and (max-width:768px) {
                            height: 45px;
                        }

                        @media screen and (max-width:636px) {
                            height: auto;
                        }
                    }

                    span {
                        font-size: 13px;
                        color: $grayP;

                        @media screen and (max-width:636px) {
                            display: none;
                        }
                    }

                    .active {
                        background: transparent !important;
                        color: unset !important;

                        &::after {
                            width: 100%;
                        }

                    }
                }
            }


            .tab-pane {
                min-height: 950px;
                margin-top: 100px;


                form {
                    margin-top: 112px;
                    max-width: 686px;
                    background: $white;
                    max-height: 535px;
                    display: block;
                    margin: 0 auto;
                    padding: 58px;
                    -webkit-box-shadow: 0px 0px 97px -11px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 0px 0px 97px -11px rgba(0, 0, 0, 0.25);
                    box-shadow: 0px 0px 97px -11px rgba(0, 0, 0, 0.25);
                    position: relative;

                    h3 {
                        font-family: $rm;
                        font-size: 30px;
                    }

                    .divider {
                        width: 100%;
                        height: 2px;
                        background: $graylighter;
                        margin: 25px 0;
                    }

                    .form-control {
                        height: 60px;
                        border: solid 1px $graylighter;
                        margin: 25px 0;
                        border-left: 14px solid $bluenav;
                        background: $white !important;
                        padding-left: 30px;
                        border-radius: 0 !important;
                    }

                    .btn {
                        display: block;
                        margin: 20px auto;
                        width: 158px;
                        border-radius: 30px;
                        box-shadow: 0 0 25px rgba(0, 0, 0, 0.356);
                    }

                    .form-group {
                        position: relative;
                    }

                    img {
                        position: absolute;
                        left: 20px;
                        top: 18px;
                    }
                }

                .forms-lines {
                    max-width: 1400px;
                    @include flexColum;

                    .select-group {
                        @include FlexRow;
                        justify-content: space-between;
                        flex: 1 1 auto;

                        .form-group {
                            width: 31.3%;
                            border-radius: 0;

                            .form-control {
                                height: 60px;
                                border: solid 1px $graylighter;
                                border-radius: 0 !important;
                                margin: 25px 0;
                                border-left: 14px solid $bluenav;
                                background: $white !important;
                                padding-left: 30px;
                            }


                        }
                    }

                    .red-text {
                        color: red;
                    }
                }

                .forms-line-2 {
                    display: block;

                    .form-control {
                        height: 60px;
                        border: solid 1px $graylighter;
                        border-radius: 0 !important;
                        margin: 25px 0;
                        border-left: 14px solid $bluenav;
                        background: $white !important;
                        padding-left: 30px;
                    }

                    .check {
                        @include FlexRow;

                        .form-check {
                            margin-right: 20px;
                        }
                    }
                }


            }



        }

        .route-traffic {
            margin-top: 110px;

            .container {
                max-width: 90% !important;

                h1 {
                    font-family: $rb;
                    color: $bluenav;
                    font-size: 45px;
                }

                .tag-recent {
                    margin-top: 60px;
                    display: flex;
                    flex-flow: row;

                    h5 {
                        font-size: 20px;
                        color: $graymed;
                    }

                    ul {
                        padding-left: 10px;

                        li {
                            list-style-type: none;
                            display: inline-block;
                            margin-left: 10px;

                            span {
                                font-size: 14px;
                                color: white;
                                background: $orange;
                                padding: 3px 10px;
                                margin-left: 0x;
                            }
                        }

                    }


                }

                .item-result {
                    margin-top: 20px;

                    h3 {
                        font-family: $rb;
                        font-size: 29px;

                    }

                    h5 {
                        font-family: $rl;
                        color: $grayP;
                        font-size: 20px;
                    }
                }

                .map-result {
                    margin-top: 40px;
                }

                .routes {
                    margin-top: 110px;

                    .btn-excell {
                        min-width: 158px;
                        min-height: 37px;
                        padding: 10px 34px;
                        background: $bluenav;
                        color: white;
                        font-size: 18px;
                    }

                    .table {
                        border-collapse: separate;
                        border-spacing: 0 40px;

                        tbody {
                            tr {
                                height: 153px;
                                margin-bottom: 25px;
                                border: none;
                                background: white;
                                -webkit-box-shadow: 3px 4px 35px -24px rgba(0, 0, 0, 0.75);
                                -moz-box-shadow: 3px 4px 35px -24px rgba(0, 0, 0, 0.75);
                                box-shadow: 3px 4px 35px -24px rgba(0, 0, 0, 0.75);

                                th,
                                td {
                                    padding-top: 55px;
                                    // border: none;
                                }

                                .escalas {
                                    max-width: 170px;
                                }

                                th {
                                    border-left: solid 10px $borderGreen !important;
                                }
                            }


                        }

                        .btn {
                            min-width: 158px;
                            min-height: 37px;
                            border-radius: 50px;
                            padding: 10px 34px;
                            background: $borderGreen;
                            border: none;
                            font-size: 18px;
                            -webkit-box-shadow: 3px 4px 39px -16px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: 3px 4px 39px -16px rgba(0, 0, 0, 0.75);
                            box-shadow: 3px 4px 39px -16px rgba(0, 0, 0, 0.75);
                        }
                    }

                    .table-striped tbody tr:nth-of-type(odd) {
                        background-color: rgba(0, 0, 0, .05);

                        th {
                            border-left: none !important;
                        }
                    }
                }
            }
        }

        .agentes {
            ul {

                justify-content: space-between;
                max-width: 1100px;
                padding: 30px 80px 0px 80px;
                margin-top: -50px;
                background: white;
                position: relative;
                -webkit-box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);
                -moz-box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);
                box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);

                li {
                    display: flex;
                    flex-flow: row;
                    align-items: flex-start;
                    font-size: 16px;

                    .father {
                        display: flex;
                        flex-flow: row;
                        align-items: flex-start;
                    }


                    a {
                        color: black;
                        margin-left: 15px;
                        padding-bottom: 30px;
                        width: 100%;


                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 3px;
                            background: $borderGreen;
                            transition: width .3s;
                            margin-top: 20px;
                        }
                    }

                    span {
                        font-size: 13px;
                        color: $grayP;
                    }

                    .active {
                        background: transparent !important;
                        color: unset !important;

                        &::after {
                            width: 100%;
                        }

                    }
                }
            }

            .tab-content {




                .title {
                    h1 {
                        font-family: $rb;
                        color: $bluenav;
                    }

                    p {
                        max-width: 800px;
                    }
                }

                .item-card {
                    width: 100%;
                    background: white;
                    padding: 23px;
                    margin-top: 100px;
                    -webkit-box-shadow: 3px 13px 18px 0px rgba(0, 0, 0, 0.22);
                    -moz-box-shadow: 3px 13px 18px 0px rgba(0, 0, 0, 0.22);
                    box-shadow: 3px 13px 18px 0px rgba(0, 0, 0, 0.22);

                    .header-card {
                        display: flex;
                        flex-flow: row;
                        flex-direction: row;
                        margin-bottom: 20px;

                        img {
                            width: 80px;
                            height: 80px;
                        }

                        h3 {
                            font-size: 20px;
                            color: $rednav;
                            font-family: $rb;
                            max-width: 200px;
                            margin-left: 20px;
                        }
                    }

                    .contact-card {
                        margin-top: 64px;

                        a {
                            margin-right: 20px;
                            font-size: 16px;

                            img {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}