@import 'variables';

html {
    body {
        background: $bodyColor;
        font-family: $rr;

        .container {
            max-width: 1640px !important;
        }

        header {
            min-height: 809px;
            position: relative;

            .navbar {
                padding-top: 20px;
                background: transparent;
                max-height: 115px;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;

                .navbar-brand {
                    img {
                        width: 150px;
                    }
                }

                ul {
                    margin-right: 80px;

                    li {
                        margin: 0 20px;

                        a {
                            color: white !important;
                        }
                    }
                }
            }

            .cabecera-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }

            .jumbotron {
                background: transparent;
                position: absolute;
                bottom: 110px;
                color: $white;

                h1 {
                    color: $white;
                    font-family: $mbold;
                    max-width: 763px;
                    font-size: 76px;
                    margin-bottom: 60px;
                }

                a {
                    text-transform: uppercase;
                    font-family: $nunitoregular;
                    color: $white !important;

                    img {
                        margin-right: 20px !important;
                    }
                }
            }

            .banner-header {
                position: absolute;
                background-color: $white;
                bottom: 0;
                height: 157px;
                min-width: 1465px;
                border-top-right-radius: 120px;
                display: flex;
                flex-flow: row;
                align-content: center;
                align-items: center;
                webkit-box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                -moz-box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                padding-right: 55px;

                .items {
                    max-width: 992px;
                    // margin-right: -114px;

                    .col-sm-2 {
                        padding: 0 !important;
                    }


                    h5 {
                        font-family: $nunitosemiBold;
                        font-size: 16px;
                    }

                    p {
                        font-size: 13px;
                        color: $grayP;
                    }
                }
            }
        }

        .content {
            .top-content-location {
                display: flex;
                flex-flow: column;
                flex-direction: column;
                margin-top: 86px;
                max-width: 844px;

                .title {
                    display: flex;
                    flex-flow: row;
                    align-items: center;

                    h3 {
                        font-size: 30px;
                        font-family: $mbold;
                    }

                    img {
                        margin-right: 20px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }

                .resume {
                    margin-top: 30px;
                }
            }

            .maps-location {
                min-height: 562px;
                margin-top: 70px;
                width: 100%;

                .row {
                    margin: 0;
                }

                ul {
                    margin-top: 75px;

                    li {
                        margin-bottom: 50px;
                        list-style-type: none;

                        .location {
                            display: flex;
                            flex-flow: row;


                            div {
                                text-decoration: none;
                                cursor: pointer;

                                .info {
                                    transition: 0.5s all ease-in-out;


                                    h3 {
                                        color: $bordeColor;
                                        font-size: 25px;
                                        font-family: $nunitoregular;
                                        // transition: 0.5s all ease-in-out;

                                        img {
                                            opacity: 0;
                                            transition: 0s;
                                            position: absolute;
                                            width: 20px;
                                            // transition: 0.5s all ease-in-out;
                                        }


                                    }

                                    p {
                                        font-size: 20px;
                                        color: $grayP;
                                        margin-top: -5px;
                                    }

                                    &:hover {
                                        h3 {
                                            color: $bluenav !important;
                                        }
                                    }
                                }


                            }


                            img {
                                height: 100%;
                                margin-right: 20px;
                            }
                        }


                        .active-indicator {
                            font-family: $nunitosemiBold !important;
                            color: $bluenav !important;

                            img {
                                opacity: 1 !important;
                                transition: 0.5s all ease-in-out;
                                position: relative !important;
                            }
                        }

                        .divider {
                            background: $bordeColor;
                            height: 1px;
                            width: 200px !important;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        .docs-info {
            margin-top: 160px;

            h2 {
                margin-bottom: 90px;
                font-family: $rb;
            }

            .content {
                max-width: 398px !important;
                margin-top: 90px;

                .top {
                    // max-width: 375px !important;
                    height: 403px;
                    padding: 55px;
                    background: $graylighter;
                    border-radius: 30px;
                    -webkit-box-shadow: 0px 29px 11px 17px #d4d4d4;
                    -moz-box-shadow: 0px 29px 11px 17px #d4d4d4;
                    box-shadow: 0px 29px 11px 17px #d4d4d4;


                    img {
                        width: 100%;
                        object-fit: cover;

                    }
                }

                p {
                    font-family: $rm;
                    font-size: 27px;
                    margin-top: 98px;
                }

                .btn {
                    width: 375px;
                    min-height: 75px;
                    margin-top: 50px;
                    font-size: 18px;
                    font-family: $rb;
                    background: $bluenav;
                    border-radius: 35px;
                    text-transform: uppercase;
                }

            }


        }

        .opinions {
            min-height: 370px;
            background-image: url(../assets/img/banner-form.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-flow: column;
            flex-direction: row;
            align-items: center;

            margin-top: 155px;

            h1 {
                color: white;
                margin-top: 60px;
            }

            textarea {
                border-radius: 20px;
                min-height: 176px !important;
            }

            .btn {
                margin-top: 80px;
                width: 179px;
                height: 58px;
                border-radius: 30px;
                background: $bluenav;
                font-size: 18px;
                border: none;
                text-transform: uppercase;
            }
        }

        footer {
            padding: 68px;
            min-height: 417px;
            padding-bottom: 0;
            background: $white;
            margin-top: 60px;

            .father-content-footer {
                display: flex;
                flex-direction: row;
                flex-flow: row;
                flex: 1 1 auto;
                justify-content: space-between;

                .item-logo {
                    .content {
                        max-width: 387px;

                        p {
                            font-family: $rl;
                            color: $grayP;
                            font-size: 12px;
                        }
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    flex-flow: column;
                    min-width: 1100px;

                    .title {


                        h4 {
                            margin-bottom: 30px;
                            color: black;
                            font-size: 20px;
                            font-family: $nunitobold;
                            border-bottom: solid 1px $graylighter;
                            padding-bottom: 10px;

                        }
                    }

                    .direct-links {
                        display: flex;
                        flex-flow: row;
                        flex-direction: row;
                        justify-content: space-between;



                        .item-link {
                            max-width: 320px;

                            ul {
                                padding-left: 0;

                                li {
                                    font-family: $rm;
                                    list-style-type: none;
                                    margin-bottom: 20px;

                                    a {
                                        color: $graymed;
                                        text-transform: capitalize !important;
                                        text-decoration: none;

                                        &:hover {
                                            color: $bluenav;
                                            transition: 0.2s;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }

            .copy {
                margin-top: 80px;
                border-top: solid 1px $graylighter;
                padding: 15px;

                h4 {
                    font-size: 14px;
                    color: $graymed;
                    font-family: $rl
                }
            }
        }

        .tabs {
            width: 100%;
            position: relative;


            ul {

                justify-content: space-between;
                max-width: 1100px;
                margin: 0 auto;
                // padding-left: 20px;
                // padding-right: 20px;
                // padding-top: 30px;
                padding: 30px 30px 0px 30px;
                margin-top: -50px;
                background: white;
                position: relative;
                -webkit-box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);
                -moz-box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);
                box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);

                li {
                    display: flex;
                    flex-flow: row;
                    align-items: flex-start;
                    max-width: 300px;
                    // margin-right: 100px;
                    font-size: 16px;
                    // justify-content: center;

                    .father {
                        display: flex;
                        flex-flow: row;
                        align-items: flex-start;
                    }


                    a {
                        color: black;
                        margin-left: 15px;
                        padding-bottom: 30px;
                        width: 100%;


                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 3px;
                            background: $borderGreen;
                            transition: width .3s;
                            margin-top: 20px;
                        }
                    }

                    span {
                        font-size: 13px;
                        color: $grayP;
                    }

                    .active {
                        background: transparent !important;
                        color: unset !important;

                        &::after {
                            width: 100%;
                        }

                    }
                }
            }

            // .tab-content {
            //     .multi_step_form {
            //         background: #f6f9fb;
            //         display: block;
            //         overflow: hidden;

            //         #msform {
            //             text-align: center;
            //             position: relative;
            //             padding-top: 50px;
            //             min-height: 820px;
            //             max-width: 810px;
            //             margin: 0 auto;
            //             background: #ffffff;
            //             z-index: 1;

            //             .tittle {
            //                 text-align: center;
            //                 padding-bottom: 55px;

            //                 h2 {
            //                     font: 500 24px/35px $roboto;
            //                     color: #3f4553;
            //                     padding-bottom: 5px;
            //                 }

            //                 p {
            //                     font: 400 16px/28px $roboto;
            //                     color: $pfont;
            //                 }
            //             }

            //             fieldset {
            //                 border: 0;
            //                 padding: 20px 105px 0;
            //                 position: relative;
            //                 width: 100%;
            //                 left: 0;
            //                 right: 0;

            //                 &:not(:first-of-type) {
            //                     display: none;
            //                 }

            //                 h3 {
            //                     font: 500 18px/35px $roboto;
            //                     color: #3f4553;
            //                 }

            //                 h6 {
            //                     font: 400 15px/28px $roboto;
            //                     color: $pfont;
            //                     padding-bottom: 30px;
            //                 }

            //                 .intl-tel-input {
            //                     display: block;
            //                     background: transparent;
            //                     border: 0;
            //                     box-shadow: none;
            //                     outline: none;

            //                     .flag-container {
            //                         .selected-flag {
            //                             padding: 0 20px;
            //                             background: transparent;
            //                             border: 0;
            //                             box-shadow: none;
            //                             outline: none;
            //                             width: 65px;

            //                             .iti-arrow {
            //                                 border: 0;

            //                                 &:after {
            //                                     content: "\f35f";
            //                                     position: absolute;
            //                                     top: 0;
            //                                     right: 0;
            //                                     font: normal normal normal 24px/7px Ionicons;
            //                                     color: $pfont;
            //                                 }
            //                             }
            //                         }
            //                     }
            //                 }

            //                 #phone {
            //                     padding-left: 80px;
            //                 }

            //                 .form-group {
            //                     padding: 0 10px;
            //                 }

            //                 .fg_2,
            //                 .fg_3 {
            //                     padding-top: 10px;
            //                     display: block;
            //                     overflow: hidden;
            //                 }

            //                 .fg_3 {
            //                     padding-bottom: 70px;
            //                 }

            //                 .form-control,
            //                 .product_select {
            //                     border-radius: 3px;
            //                     border: 1px solid #d8e1e7;
            //                     padding: 0 20px;
            //                     height: auto;
            //                     font: 400 15px/48px $roboto;
            //                     color: $pfont;
            //                     box-shadow: none;
            //                     outline: none;
            //                     width: 100%;

            //                     @include placeholder {
            //                         color: $pfont;
            //                     }

            //                     &:hover,
            //                     &:focus {
            //                         border-color: $bc;
            //                     }

            //                     &:focus {
            //                         @include placeholder {
            //                             color: transparent;
            //                         }
            //                     }
            //                 }

            //                 .product_select {
            //                     &:after {
            //                         display: none;
            //                     }

            //                     &:before {
            //                         content: "\f35f";
            //                         position: absolute;
            //                         top: 0;
            //                         right: 20px;
            //                         font: normal normal normal 24px/48px Ionicons;
            //                         color: $pfont;
            //                     }

            //                     .list {
            //                         width: 100%;
            //                     }
            //                 }

            //                 .done_text {
            //                     padding-top: 40px;

            //                     .don_icon {
            //                         height: 36px;
            //                         width: 36px;
            //                         line-height: 36px;
            //                         font-size: 22px;
            //                         margin-bottom: 10px;
            //                         background: $bc;
            //                         display: inline-block;
            //                         border-radius: 50%;
            //                         color: #ffffff;
            //                         text-align: center;
            //                     }

            //                     h6 {
            //                         line-height: 23px;
            //                     }
            //                 }

            //                 .code_group {
            //                     margin-bottom: 60px;

            //                     .form-control {
            //                         border: 0;
            //                         border-bottom: 1px solid #a1a7ac;
            //                         border-radius: 0;
            //                         display: inline-block;
            //                         width: 30px;
            //                         font-size: 30px;
            //                         color: $pfont;
            //                         padding: 0;
            //                         margin-right: 7px;
            //                         text-align: center;
            //                         line-height: 1;
            //                     }
            //                 }

            //                 .passport {
            //                     margin-top: -10px;
            //                     padding-bottom: 30px;
            //                     position: relative;

            //                     .don_icon {
            //                         height: 36px;
            //                         width: 36px;
            //                         line-height: 36px;
            //                         font-size: 22px;
            //                         position: absolute;
            //                         top: 4px;
            //                         right: 0;
            //                         background: $bc;
            //                         display: inline-block;
            //                         border-radius: 50%;
            //                         color: #ffffff;
            //                         text-align: center;
            //                     }

            //                     h4 {
            //                         font: 500 15px/23px $roboto;
            //                         color: $pfont;
            //                         padding: 0;
            //                     }
            //                 }

            //                 .input-group {
            //                     padding-bottom: 40px;

            //                     .custom-file {
            //                         width: 100%;
            //                         height: auto;

            //                         .custom-file-label {
            //                             width: 168px;
            //                             border-radius: 5px;
            //                             cursor: pointer;
            //                             font: 700 14px/40px $roboto;
            //                             border: 1px solid #99a2a8;
            //                             text-align: center;
            //                             @include transition;
            //                             color: $pfont;

            //                             i {
            //                                 font-size: 20px;
            //                                 padding-right: 10px;
            //                             }

            //                             &:hover,
            //                             &:focus {
            //                                 background: $bc;
            //                                 border-color: $bc;
            //                                 color: #fff;
            //                             }
            //                         }

            //                         input {
            //                             display: none;
            //                         }
            //                     }
            //                 }

            //                 .file_added {
            //                     text-align: left;
            //                     padding-left: 190px;
            //                     padding-bottom: 60px;

            //                     li {
            //                         font: 400 15px/28px $roboto;
            //                         color: $pfont;

            //                         a {
            //                             color: $bc;
            //                             font-weight: 500;
            //                             display: inline-block;
            //                             position: relative;
            //                             padding-left: 15px;

            //                             i {
            //                                 font-size: 22px;
            //                                 padding-right: 8px;
            //                                 position: absolute;
            //                                 left: 0;
            //                                 transform: rotate(20deg);
            //                             }
            //                         }
            //                     }
            //                 }
            //             }

            //             #progressbar {
            //                 margin-bottom: 30px;
            //                 overflow: hidden;

            //                 li {
            //                     list-style-type: none;
            //                     color: #99a2a8;
            //                     font-size: 9px;
            //                     width: calc(100%/3);
            //                     float: left;
            //                     position: relative;
            //                     z-index: 1;
            //                     font: 500 13px/1 $roboto;

            //                     &:nth-child(2) {
            //                         &:before {
            //                             content: "";
            //                         }
            //                     }

            //                     &:nth-child(3) {
            //                         &:before {
            //                             content: "";
            //                         }
            //                     }

            //                     &:before {
            //                         content: "";
            //                         font: normal normal normal 30px/50px Ionicons;
            //                         width: 50px;
            //                         height: 50px;
            //                         line-height: 50px;
            //                         display: block;
            //                         background: #eaf0f4;
            //                         border-radius: 50%;
            //                         margin: 0 auto 10px auto;
            //                     }

            //                     &:after {
            //                         content: '';
            //                         width: 100%;
            //                         height: 10px;
            //                         background: #eaf0f4;
            //                         position: absolute;
            //                         left: -40%;
            //                         top: 21px;
            //                         z-index: -1;
            //                     }

            //                     &:last-child {
            //                         &:after {
            //                             width: 150%;
            //                         }
            //                     }

            //                     &.active {
            //                         color: $bc;

            //                         &:before,
            //                         &:after {
            //                             background: $bc;
            //                             color: white;
            //                         }
            //                     }
            //                 }
            //             }

            //             .action-button {
            //                 background: $bc;
            //                 color: white;
            //                 border: 0 none;
            //                 border-radius: 5px;
            //                 cursor: pointer;
            //                 min-width: 130px;
            //                 font: 700 14px/40px $roboto;
            //                 border: 1px solid $bc;
            //                 margin: 0 5px;
            //                 text-transform: uppercase;
            //                 display: inline-block;

            //                 &:hover,
            //                 &:focus {
            //                     background: $heding;
            //                     border-color: $heding;
            //                 }
            //             }

            //             .previous_button {
            //                 background: transparent;
            //                 color: #99a2a8;
            //                 border-color: #99a2a8;

            //                 &:hover,
            //                 &:focus {
            //                     background: $heding;
            //                     border-color: $heding;
            //                     color: #fff;
            //                 }
            //             }
            //         }
            //     }

            // }
            // /*custom font*/
            // @import url(https://fonts.googleapis.com/css?family=Montserrat);

            // /*basic reset*/
            // * {
            //     margin: 0;
            //     padding: 0;
            // }

            // html {
            //     height: 100%;
            //     /*Image only BG fallback*/

            //     /*background = gradient + image pattern combo*/
            //     background:
            //         linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
            // }

            // body {
            //     font-family: montserrat, arial, verdana;
            // }

            /*form styles*/





        }

        .route-traffic {
            margin-top: 110px;

            .container {
                max-width: 90% !important;

                h1 {
                    font-family: $rb;
                    color: $bluenav;
                    font-size: 45px;
                }

                .tag-recent {
                    margin-top: 60px;
                    display: flex;
                    flex-flow: row;

                    h5 {
                        font-size: 20px;
                        color: $graymed;
                    }

                    ul {
                        padding-left: 10px;

                        li {
                            list-style-type: none;
                            display: inline-block;
                            margin-left: 10px;

                            span {
                                font-size: 14px;
                                color: white;
                                background: $orange;
                                padding: 3px 10px;
                                margin-left: 0x;
                            }
                        }

                    }


                }

                .item-result {
                    margin-top: 20px;

                    h3 {
                        font-family: $rb;
                        font-size: 29px;

                    }

                    h5 {
                        font-family: $rl;
                        color: $grayP;
                        font-size: 20px;
                    }
                }

                .map-result {
                    margin-top: 40px;
                }

                .routes {
                    margin-top: 110px;

                    .btn-excell {
                        min-width: 158px;
                        min-height: 37px;
                        padding: 10px 34px;
                        background: $bluenav;
                        color: white;
                        font-size: 18px;
                    }

                    .table {
                        border-collapse: separate;
                        border-spacing: 0 40px;

                        tbody {
                            tr {
                                height: 153px;
                                margin-bottom: 25px;
                                border: none;
                                background: white;
                                -webkit-box-shadow: 3px 4px 35px -24px rgba(0, 0, 0, 0.75);
                                -moz-box-shadow: 3px 4px 35px -24px rgba(0, 0, 0, 0.75);
                                box-shadow: 3px 4px 35px -24px rgba(0, 0, 0, 0.75);

                                th,
                                td {
                                    padding-top: 55px;
                                    // border: none;
                                }

                                th {
                                    border-left: solid 10px $borderGreen !important;
                                }
                            }


                        }

                        .btn {
                            min-width: 158px;
                            min-height: 37px;
                            border-radius: 50px;
                            padding: 10px 34px;
                            background: $borderGreen;
                            border: none;
                            font-size: 18px;
                            -webkit-box-shadow: 3px 4px 39px -16px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: 3px 4px 39px -16px rgba(0, 0, 0, 0.75);
                            box-shadow: 3px 4px 39px -16px rgba(0, 0, 0, 0.75);
                        }
                    }

                    .table-striped tbody tr:nth-of-type(odd) {
                        background-color: rgba(0, 0, 0, .05);

                        th {
                            border-left: none !important;
                        }
                    }
                }
            }
        }

        .agentes {
            ul {

                justify-content: space-between;
                max-width: 1100px;
                margin: 0 auto;
                // padding-left: 20px;
                // padding-right: 20px;
                // padding-top: 30px;
                padding: 30px 80px 0px 80px;
                margin-top: -50px;
                background: white;
                position: relative;
                -webkit-box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);
                -moz-box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);
                box-shadow: 2px 13px 25px -13px rgba(122, 122, 122, 1);

                li {
                    display: flex;
                    flex-flow: row;
                    align-items: flex-start;
                    // margin-right: 100px;
                    font-size: 16px;
                    // justify-content: center;

                    .father {
                        display: flex;
                        flex-flow: row;
                        align-items: flex-start;
                    }


                    a {
                        color: black;
                        margin-left: 15px;
                        padding-bottom: 30px;
                        width: 100%;


                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 3px;
                            background: $borderGreen;
                            transition: width .3s;
                            margin-top: 20px;
                        }
                    }

                    span {
                        font-size: 13px;
                        color: $grayP;
                    }

                    .active {
                        background: transparent !important;
                        color: unset !important;

                        &::after {
                            width: 100%;
                        }

                    }
                }
            }
        }
    }
}