@import 'variables';

html {
    body {
        background: $bodyColor;
        font-family: $rr;

        .container {
            max-width: 1640px !important;
        }

        header {
            min-height: 809px;
            position: relative;

            .navbar {
                padding-top: 20px;
                background: transparent;
                max-height: 115px;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;

                .navbar-brand {
                    img {
                        width: 150px;
                    }
                }

                ul {
                    margin-right: 80px;

                    li {
                        margin: 0 20px;

                        a {
                            color: white !important;
                        }
                    }
                }
            }

            .cabecera-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }

            .jumbotron {
                background: transparent;
                position: absolute;
                bottom: 110px;
                color: $white;

                h1 {
                    color: $white;
                    font-family: $mbold;
                    max-width: 763px;
                    font-size: 76px;
                    margin-bottom: 60px;
                }

                a {
                    text-transform: uppercase;
                    font-family: $nunitoregular;
                    color: $white !important;

                    img {
                        margin-right: 20px !important;
                    }
                }
            }

            .banner-header {
                position: absolute;
                background-color: $white;
                bottom: 0;
                height: 157px;
                min-width: 1465px;
                border-top-right-radius: 120px;
                display: flex;
                flex-flow: row;
                align-content: center;
                align-items: center;
                webkit-box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                -moz-box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                box-shadow: 0px 26px 41px -24px rgba(128, 128, 128, 1);
                padding-right: 55px;

                .items {
                    max-width: 992px;
                    // margin-right: -114px;

                    .col-sm-2 {
                        padding: 0 !important;
                    }


                    h5 {
                        font-family: $nunitosemiBold;
                        font-size: 16px;
                    }

                    p {
                        font-size: 13px;
                        color: $grayP;
                    }
                }
            }
        }

        .content {
            .top-content-location {
                display: flex;
                flex-flow: column;
                flex-direction: column;
                margin-top: 86px;
                max-width: 844px;

                .title {
                    display: flex;
                    flex-flow: row;
                    align-items: center;

                    h3 {
                        font-size: 30px;
                        font-family: $mbold;
                    }

                    img {
                        margin-right: 20px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }

                .resume {
                    margin-top: 30px;
                }
            }

            .maps-location {
                min-height: 562px;
                margin-top: 70px;
                width: 100%;

                .row {
                    margin: 0;
                }

                ul {
                    margin-top: 75px;

                    li {
                        margin-bottom: 50px;
                        list-style-type: none;

                        .location {
                            display: flex;
                            flex-flow: row;


                            a {
                                text-decoration: none;

                                .info {



                                    h3 {
                                        color: $bordeColor;
                                        font-size: 25px;
                                        font-family: $nunitoregular;
                                    }

                                    p {
                                        font-size: 20px;
                                        color: $grayP;
                                        margin-top: -5px;
                                    }
                                }


                            }

                            .active-location {
                                font-family: $nunitosemiBold !important;
                                color: $bluenav !important;
                            }

                            img {
                                height: 100%;
                                margin-right: 20px;
                            }
                        }

                        .divider {
                            background: $bordeColor;
                            height: 1px;
                            width: 200px !important;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        .docs-info {
            margin-top: 160px;

            h2 {
                margin-bottom: 90px;
                font-family: $rb;
            }

            .content {
                max-width: 398px !important;
                margin-top: 90px;

                .top {
                    // max-width: 375px !important;
                    height: 403px;
                    padding: 55px;
                    background: $graylighter;
                    border-radius: 30px;
                    -webkit-box-shadow: 0px 29px 11px 17px #d4d4d4;
                    -moz-box-shadow: 0px 29px 11px 17px #d4d4d4;
                    box-shadow: 0px 29px 11px 17px #d4d4d4;


                    img {
                        width: 100%;
                        object-fit: cover;

                    }
                }

                p {
                    font-family: $rm;
                    font-size: 27px;
                    margin-top: 98px;
                }

                .btn {
                    width: 375px;
                    min-height: 75px;
                    margin-top: 50px;
                    font-size: 18px;
                    font-family: $rb;
                    background: $bluenav;
                    border-radius: 35px;
                    text-transform: uppercase;
                }

            }


        }

        .opinions {
            min-height: 370px;
            background-image: url(/assets/img/banner-form.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-flow: column;
            flex-direction: row;
            align-items: center;

            margin-top: 155px;

            h1 {
                color: white;
                margin-top: 60px;
            }

            textarea {
                border-radius: 20px;
                min-height: 176px !important;
            }

            .btn {
                margin-top: 80px;
                width: 179px;
                height: 58px;
                border-radius: 30px;
                background: $bluenav;
                font-size: 18px;
                border: none;
                text-transform: uppercase;
            }
        }

        footer {
            padding: 68px;
            min-height: 417px;
            padding-bottom: 0;

            .father-content-footer {
                display: flex;
                flex-direction: row;
                flex-flow: row;
                flex: 1 1 auto;
                justify-content: space-between;

                .item-logo {
                    .content {
                        max-width: 387px;

                        p {
                            font-family: $rl;
                            color: $grayP;
                            font-size: 12px;
                        }
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    flex-flow: column;
                    min-width: 1100px;

                    .title {


                        h4 {
                            margin-bottom: 30px;
                            color: black;
                            font-size: 20px;
                            font-family: $nunitobold;
                            border-bottom: solid 1px $graylighter;
                            padding-bottom: 10px;

                        }
                    }

                    .direct-links {
                        display: flex;
                        flex-flow: row;
                        flex-direction: row;
                        justify-content: space-between;



                        .item-link {
                            max-width: 320px;

                            ul {
                                padding-left: 0;

                                li {
                                    font-family: $rm;
                                    list-style-type: none;
                                    margin-bottom: 20px;

                                    a {
                                        color: $graymed;
                                        text-transform: capitalize !important;

                                    }
                                }
                            }
                        }
                    }
                }
            }

            .copy {
                margin-top: 80px;
                border-top: solid 1px $graylighter;
                padding: 15px;

                h4 {
                    font-size: 14px;
                    color: $graymed;
                    font-family: $rl
                }
            }
        }
    }
}