@import 'fonts';

$mel: Metropolis-ligh;
$mblack: metropolis-black;
$mbold: metropolis-bold;
$mexl: metropolis-exLight;
$mmed: metropolis-med;
$nunitoregular: nunito-Regular;
$nunitoblack: nunito-black;
$nunitobold: nunito-bold;
$nunitolight: nunito-light;
$nunitosemiBold: nunito-semiBold;
$nunitoextraBold: nunito-extraBold;
$rr:Raleway-regular;
$rl:Raleway-Light;
$rm:Raleway-med;
$rb:Raleway-bold;
$exb:Raleway-exBold;

$bodyColor: #F6F8F9;
$white: #fff;
$grayP: #A8A8A8;
$bluenav: #004B8D;
$bordeColor: #95989A;
$graylighter: rgb(216, 214, 214);